* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
}
footer p {
  cursor: pointer;
}

footer p:hover {
  color: #00b96b;
}
.ant-pro-layout-header {
  overflow: visible !important;
}

.ant-pro-layout-header .ant-menu {
  flex-wrap: nowrap !important;
}

.ant-pro-layout-header .ant-menu-horizontal {
  display: flex !important;
}

.ant-pro-layout-header .ant-menu-item {
  white-space: nowrap;
}


.custom-main-menu.ant-menu-horizontal {

  overflow: visible !important;
}